/* ===== Base & variables ===== */
@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font: 'Karla';
    background-color: #0A1826;
    color: #BFA181;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #178582;
}

a:hover {
    text-decoration: underline;
    color: #BFA181;
}

ul {
    list-style-type: none;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

h2, h3 {
    color: #178582;
}

.title {
    text-align: center;
}
