/* Base & variables */
@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font: 'Karla';
    --theme-bg: #0A1826;
    --theme-text: #BFA181;
    --theme-accent: #178582;
    --theme-card-bg: #131f2b;
    --theme-border: #242a30;
    --theme-text-on-accent: #0A1826;
}

body {
    margin: 0;
    background-color: var(--theme-bg);
    color: var(--theme-text);
}

a {
    text-decoration: none;
    color: var(--theme-accent);
}

a:hover {
    text-decoration: underline;
    color: var(--theme-text);
}

ul {
    list-style-type: none;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

h2, h3 {
    color: var(--theme-accent);
}

.title {
    text-align: center;
}
