@font-face {
    font-family: 'Karla';
    src: url('fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font: 'Karla';
    background-color: #0A1826;
    color: #BFA181;
}

.menu-container {
    position: sticky;
    top: 0;
    width: 95%;
    max-width: auto;
    margin: 0 auto;
    background-color: #0A1826;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.icons-left {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 20px;
}

.icons-left img {
    height: 35px;
}

.logo-container-sticky {
    width: 100%;
    align-items: center;
}

.logo-container-sticky img {
    display: block;
    height: 35px;
    margin: auto;
}

.menu-container ul {
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 0;
}

.menu-container a {
    text-decoration: none;
    color: #178582;
    line-height: 1;
}

.copied-message {
    display: none;
    position: absolute;
    background-color: #0A1826;
    border: 1px solid #178582;
    padding: 5px 10px;
    border-radius: 5px;
    top: 70px;
    z-index: 101;
}

.profil {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 6em auto;
    width: 80%;
    transition: transform 0.3s ease-in-out;
}

.profil::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color: #178582;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.profil:hover {
    transform: scale(1.05);
}

.profil:hover::after {
    width: 50%;
}

.title {
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}

.skill-item {
    position: relative;
    overflow: hidden;
    background: #151515;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #178582;
    transition: color  0.3s ease-in-out;    
}

.skill-item::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: rgba(145, 145, 145, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.skill-item:hover {
    color: #af5b01;
}

.skill-item:hover::before {
    opacity: 1;
}

.skill-logo {
    width: 30%;
}

.works-container {
    margin: 10em auto;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: left;
}

.work-item {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-prev {
    background-color: transparent;
    left: 150px;
    width: 1px;
    height: 1px;
}

.carousel-next {
    background-color: transparent;
    right: 150px;
}

.carousel-prev img,
.carousel-next img {
    width: 35px;
    height: 35px;
}